// showing default values
$accentColor: #bc0f0f;
$textColor: #2b2726;
$borderColor: #efecea;
$codeBgColor: #282c34;
$badgeTipColor: #42b983;
$badgeWarningColor: darken(#ffe564, 35%);
$badgeErrorColor: #DA5961;
